.annotation .taglist {
  display: flex;
  flex-wrap: wrap;
  font-size: 13px;
  gap: 0.375rem ;
  list-style-type: none;
  margin: 0;
  padding: 0 0 15px 0; 
}

.annotation .taglist.editable {
  padding-bottom: 0;
}
