.quill-rte .ql-editor {
  margin: 0;
  outline: none;
  padding: 0;
}

.quill-rte.ql-disabled .ql-editor {
  height: fit-content;
}

.quill-rte .ql-editor.ql-blank::before {
  font-style: normal;
  left: 10px;
}

.quill-rte .ql-editor p {
  margin: 0; 
  padding: 0;
}

.quill-rte .ql-editor img {
  display: inline-block;
}

.quill-rte-toolbar {
  display: flex;
  gap: 0.75rem;
}

.quill-rte-toolbar button {
  all: unset;
  cursor: pointer;
}

.quill-rte-toolbar button:disabled {
  color: var(--gray-400);
  cursor: inherit;
}