.annotation-section + .annotation-section {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.annotation-section .annotation-section-footer {
  display: flex;
  margin-bottom: 10px;
  padding: 0.25rem 12px;
}

.annotation-section .align-right {
  justify-content: flex-end;
}