.avatar {
  color: #fff;
  font-size: 13px;
  font-weight: 500;
}

.avatar-ring {
  border: 2px solid var(--c-blue);
  border-radius: 50%;
  display: inline-block;
  padding: 2px;
}

.avatar-inner {
  align-items: center;
  background-color: var(--c-blue);
  border-radius: 50%;
  display: flex;
  height: 28px;
  justify-content: center;
  width: 28px;
}