.annotation .annotation-toolbar-wrapper {
  padding-bottom: 5px;
}

.annotation .annotation-comment-wrapper {
  padding: 5px 12px 5px 12px;
}

.annotation.empty::after {
  background-color: var(--c-blue);
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  top: 0;
  width: 3px;
}

.annotation .annotation-footer {
  display: flex;
  justify-content: flex-end;
  padding: 5px 15px 0 15px;
}

.annotation button.save {
  all: unset;
  background-color: var(--bright-blue);
  color: #fff;
  cursor: pointer;
}

.annotation button.save-arrow {
  align-items: center;
  border-radius: 50%;
  display: flex;
  height: 30px;
  justify-content: center;
  width: 30px;
}