.annotation.empty {
  background-color: #fff;
  border-radius: 6px;
  position: relative;
  width: 340px;
}

.annotation .annotation-header {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px 6px 15px;
}

.annotation .annotation-toolbar-wrapper {
  padding-bottom: 5px;
}

.annotation .annotation-comment-wrapper {
  padding: 5px 15px 15px 15px;
}

.annotation.empty::after {
  background-color: var(--blue);
  border-radius: 6px 0 0 6px;
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  top: 0;
  width: 3px;
}